In [32]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd

In [33]:
import psycopg2
from psycopg2 import OperationalError
# connect to the server
def create_connection(db_name, db_user, db_password, db_host, db_port):
    connection = None
    try:
        connection = psycopg2.connect(
            database=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port,
        )
        print("Connection to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return connection

In [34]:
# Connection details for OLTP and OLAP databases
oltp_db_name = "olympicsOLTP"
oltp_db_user = "postgres"
oltp_db_password = "postgres"
oltp_db_host = "pgdb"
oltp_db_port = "5432"

olap_db_name = "olympicsOLAP"
olap_db_user = "postgres"
olap_db_password = "postgres"
olap_db_host = "pgdb"
olap_db_port = "5432"

# Create connections to OLTP and OLAP databases
oltp_connection = create_connection(oltp_db_name, oltp_db_user, oltp_db_password, oltp_db_host, oltp_db_port)
olap_connection = create_connection(olap_db_name, olap_db_user, olap_db_password, olap_db_host, olap_db_port)
oltp_connection_url = f"postgresql://{oltp_db_user}:{oltp_db_password}@{oltp_db_host}:{oltp_db_port}/{oltp_db_name}"
olap_connection_url = f"postgresql://{olap_db_user}:{olap_db_password}@{olap_db_host}:{olap_db_port}/{olap_db_name}"
oltp_engine = create_engine(oltp_connection_url)
olap_engine = create_engine(olap_connection_url)

Connection to PostgreSQL DB successful
Connection to PostgreSQL DB successful

In [35]:
factolympicmedals = pd.read_sql('SELECT * FROM factolympicmedals', con=olap_engine)
dimeventcategory = pd.read_sql('SELECT * FROM dimeventcategory', con=olap_engine)
dimgamehost = pd.read_sql('SELECT * FROM dimgamehost', con=olap_engine)
dimcountry = pd.read_sql('SELECT * FROM dimcountry', con=olap_engine)
merged_data = pd.merge(factolympicmedals, dimeventcategory, on='eventcategorykey')
merged_data = pd.merge(merged_data, dimgamehost, left_on='hostkey', right_on='gamehostkey')
merged_data = pd.merge(merged_data, dimcountry, on='countrykey')

In [36]:
merged_data

,countrykey,hostkey,medaltype,eventattendtypekey,eventcategorykey,timekey,populationkey,lifeexpectancykey,mentalillnesskey,gdpkey,eventdiscipline,eventname,gamehostkey,gamehostname,gamehostcity,gamehostseasontype,gamehostcountry,countryalternativekey,countryname,countryregion
0,25,1,GOLD,1,1,YR2022,NaN,NaN,NaN,NaN,Curling,Mixed Doubles,1,Beijing 2022,Beijing,Winter,China,ITA,Italy,Europe
1,25,1,GOLD,1,1,YR2022,NaN,NaN,NaN,NaN,Curling,Mixed Doubles,1,Beijing 2022,Beijing,Winter,China,ITA,Italy,Europe
2,25,1,GOLD,5,17,YR2022,NaN,NaN,NaN,NaN,Short Track Speed Skating,Women's 500m,1,Beijing 2022,Beijing,Winter,China,ITA,Italy,Europe
3,25,1,BRONZE,3,19,YR2022,NaN,NaN,NaN,NaN,Short Track Speed Skating,Men's 5000m Relay,1,Beijing 2022,Beijing,Winter,China,ITA,Italy,Europe
4,25,1,SILVER,1,20,YR2022,NaN,NaN,NaN,NaN,Short Track Speed Skating,Team Relay,1,Beijing 2022,Beijing,Winter,China,ITA,Italy,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21490,210,52,BRONZE,5,836,YR1900,NaN,NaN,NaN,NaN,Tennis,Singles women,52,Paris 1900,Paris,Summer,France,BOH,Bohemia,Europe
21491,31,8,SILVER,4,588,YR2008,10.0,4.0,9.0,8.0,Athletics,800m men,8,Beijing 2008,Beijing,Summer,China,SDN,Sudan,Africa
21492,177,8,SILVER,5,644,YR2008,2.0,7.0,3.0,2.0,Weightlifting,+75kg women,8,Beijing 2008,Beijing,Summer,China,WSM,Samoa,Oceania
21493,98,8,BRONZE,4,939,YR2008,6.0,3.0,7.0,4.0,Canoe Slalom,K1 kayak single men,8,Beijing 2008,Beijing,Summer,China,TGO,Togo,Africa
21494,155,8,BRONZE,4,1009,YR2008,3.0,7.0,6.0,5.0,Boxing,51-54kg bantamweight men,8,Beijing 2008,Beijing,Summer,China,MUS,Mauritius,Africa

In [37]:
merged_data['country_year'] = merged_data['countryname'] + '_' + merged_data['gamehostname']

In [38]:
merged_data.isna().sum()

countrykey                   0
hostkey                      0
medaltype                    0
eventattendtypekey           0
eventcategorykey             0
timekey                      0
populationkey            10940
lifeexpectancykey         5828
mentalillnesskey         12623
gdpkey                    7747
eventdiscipline              0
eventname                    0
gamehostkey                  0
gamehostname                 0
gamehostcity                 0
gamehostseasontype           0
gamehostcountry              0
countryalternativekey        0
countryname                  0
countryregion                0
country_year                 0
dtype: int64

In [39]:
merged_data = merged_data.astype(str)

In [40]:
merged_data = merged_data[['eventdiscipline', 'country_year']]
merged_data = merged_data.drop_duplicates()

In [41]:
merged_data

                 eventdiscipline            country_year
0                        Curling      Italy_Beijing 2022
2      Short Track Speed Skating      Italy_Beijing 2022
6                      Snowboard      Italy_Beijing 2022
9                           Luge      Italy_Beijing 2022
10                      Biathlon      Italy_Beijing 2022
...                          ...                     ...
21490                     Tennis      Bohemia_Paris 1900
21491                  Athletics      Sudan_Beijing 2008
21492              Weightlifting      Samoa_Beijing 2008
21493               Canoe Slalom       Togo_Beijing 2008
21494                     Boxing  Mauritius_Beijing 2008

[7642 rows x 2 columns]

In [42]:
grouped = merged_data.groupby('country_year')['eventdiscipline'].apply(list).reset_index()
grouped

                  country_year      eventdiscipline
0     Afghanistan_Beijing 2008          [Taekwondo]
1      Afghanistan_London 2012          [Taekwondo]
2         Algeria_Atlanta 1996  [Athletics, Boxing]
3       Algeria_Barcelona 1992  [Athletics, Boxing]
4         Algeria_Beijing 2008               [Judo]
...                        ...                  ...
1748       Zambia_Atlanta 1996          [Athletics]
1749   Zambia_Los Angeles 1984             [Boxing]
1750      Zimbabwe_Athens 2004           [Swimming]
1751     Zimbabwe_Beijing 2008           [Swimming]
1752      Zimbabwe_Moscow 1980             [Hockey]

[1753 rows x 2 columns]

In [43]:
from mlxtend.preprocessing import TransactionEncoder

In [44]:
# thx for GPT 4 as below transformation
te = TransactionEncoder()
te_ary = te.fit_transform(grouped['eventdiscipline'])
transformed_df = pd.DataFrame(te_ary, columns=te.columns_)

In [45]:
transformed_df

,3x3 Basketball,Alpine Skiing,Archery,Artistic Gymnastics,Artistic Swimming,Athletics,Badminton,Baseball,Baseball/Softball,Basketball,...,Tennis,Trampoline,Trampoline Gymnastics,Triathlon,Tug of War,Volleyball,Water Motorsports,Water Polo,Weightlifting,Wrestling
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1748,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1749,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1750,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1751,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1752,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [46]:
from mlxtend.frequent_patterns import apriori, association_rules

In [48]:
#setting threshold
frequent_itemsets = apriori(transformed_df, min_support=0.04, use_colnames=True, max_len=6)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.90)
rules = rules.sort_values(by='lift', ascending=False)

print(rules)

                                 antecedents  consequents  antecedent support  \
21               (Rowing, Diving, Athletics)   (Swimming)            0.045636
6                           (Rowing, Diving)   (Swimming)            0.047918
28         (Boxing, Shooting, Weightlifting)  (Wrestling)            0.048488
30     (Boxing, Rowing, Swimming, Wrestling)  (Athletics)            0.040502
0                           (Boxing, Diving)  (Athletics)            0.042784
3                         (Diving, Swimming)  (Athletics)            0.052481
2                         (Diving, Shooting)  (Athletics)            0.045066
20                (Rowing, Diving, Swimming)  (Athletics)            0.043354
26             (Rowing, Swimming, Wrestling)  (Athletics)            0.051911
14                (Boxing, Rowing, Swimming)  (Athletics)            0.056475
25              (Swimming, Rowing, Shooting)  (Athletics)            0.050770
12                 (Sailing, Boxing, Rowing)  (Athletics)            0.050200
1                           (Rowing, Diving)  (Athletics)            0.047918
4                        (Diving, Wrestling)  (Athletics)            0.046777
18          (Canoe Sprint, Shooting, Rowing)  (Athletics)            0.042784
17               (Sailing, Boxing, Swimming)  (Athletics)            0.049629
8            (Boxing, Rowing, Cycling Track)  (Athletics)            0.047347
22   (Rowing, Shooting, Gymnastics Artistic)  (Athletics)            0.047347
27        (Wrestling, Rowing, Weightlifting)  (Athletics)            0.046777
16               (Sailing, Boxing, Shooting)  (Athletics)            0.046207
11     (Boxing, Rowing, Gymnastics Artistic)  (Athletics)            0.045636
10                 (Boxing, Fencing, Rowing)  (Athletics)            0.045636
29     (Boxing, Rowing, Shooting, Wrestling)  (Athletics)            0.043925
13                (Boxing, Rowing, Shooting)  (Athletics)            0.054763
23  (Rowing, Gymnastics Artistic, Wrestling)  (Athletics)            0.046777
9          (Boxing, Cycling Track, Swimming)  (Athletics)            0.046207
19          (Canoe Sprint, Swimming, Rowing)  (Athletics)            0.045636
24              (Sailing, Rowing, Wrestling)  (Athletics)            0.043925
15               (Boxing, Rowing, Wrestling)  (Athletics)            0.060468
7           (Boxing, Canoe Sprint, Shooting)  (Athletics)            0.045636
5              (Rowing, Gymnastics Artistic)  (Athletics)            0.063890

    consequent support   support  confidence      lift  leverage  conviction  \
21            0.191671  0.042213    0.925000  4.825967  0.033466   10.777714
6             0.191671  0.043354    0.904762  4.720380  0.034170    8.487450
28            0.247005  0.044495    0.917647  3.715093  0.032518    9.143509
30            0.393041  0.040502    1.000000  2.544267  0.024583         inf
0             0.393041  0.042213    0.986667  2.510343  0.025398   45.521962
3             0.393041  0.051341    0.978261  2.488957  0.030713   27.920137
2             0.393041  0.043925    0.974684  2.479855  0.026212   23.974900
20            0.393041  0.042213    0.973684  2.477313  0.025173   23.064461
26            0.393041  0.050200    0.967033  2.460390  0.029797   18.411105
14            0.393041  0.054193    0.959596  2.441468  0.031996   15.022248
25            0.393041  0.048488    0.955056  2.429918  0.028534   13.504849
12            0.393041  0.047918    0.954545  2.428619  0.028187   13.353109
1             0.393041  0.045636    0.952381  2.423111  0.026802   12.746149
4             0.393041  0.044495    0.951220  2.420156  0.026110   12.442670
18            0.393041  0.040502    0.946667  2.408573  0.023686   11.380491
17            0.393041  0.046777    0.942529  2.398045  0.027271   10.561095
8             0.393041  0.044495    0.939759  2.390998  0.025886   10.075528
22            0.393041  0.044495    0.939759  2.390998  0.025886   10.075528
27            0.393041  0.043925    0.939024  2.389129  0.025539    9.954136
16            0.393041  0.043354    0.938272  2.387214  0.025193    9.832744
11            0.393041  0.042784    0.937500  2.385250  0.024847    9.711352
10            0.393041  0.042784    0.937500  2.385250  0.024847    9.711352
29            0.393041  0.041072    0.935065  2.379055  0.023808    9.347176
13            0.393041  0.050770    0.927083  2.358748  0.029246    8.324016
23            0.393041  0.043354    0.926829  2.358101  0.024969    8.295113
9             0.393041  0.042784    0.925926  2.355803  0.024623    8.193953
19            0.393041  0.042213    0.925000  2.353447  0.024277    8.092793
24            0.393041  0.040502    0.922078  2.346012  0.023238    7.789314
15            0.393041  0.055334    0.915094  2.328244  0.031567    7.148634
7             0.393041  0.041643    0.912500  2.321644  0.023706    6.936680
5             0.393041  0.057616    0.901786  2.294384  0.032504    6.179951

    zhangs_metric
21       0.830697
6        0.827820
28       0.768070
30       0.632580
0        0.628539
3        0.631360
2        0.624913
20       0.623362
26       0.626060
14       0.625749
25       0.619938
12       0.619334
1        0.616866
4        0.615599
18       0.610955
17       0.613438
8        0.610679
22       0.610679
27       0.609970
16       0.609253
11       0.608528
10       0.608528
29       0.606296
13       0.609420
23       0.604192
9        0.603397
19       0.602591
24       0.600104
15       0.607208
7        0.596492
5        0.602657